
@import url("./__title/lead__title.css");
@import url("./__subtitle/lead__subtitle.css");
@import url("./__container/lead__container.css");
@import url("./__image/lead__image.css");
@import url("./__caption/lead__caption.css");

.lead {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0 48px;
    max-width: 1280px;
    margin: 56px auto 0;
}

@media screen and  (max-width: 768px) {
    .lead {
        padding: 0;
    }
}