.header__logo {
    background-image: url('/images/header-logoo.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 176px;
    height: 52px;
}

@media screen and (max-width: 768px) {
    .header__logo {
        width: 142px;
        height: 42px;
    }
}