@import url("./__nav/footer__nav.css");
@import url("./__links/footer__links.css");
@import url("./__links-item/footer__links-item.css");
@import url("./__link/footer__link.css");
@import url("./__copyright/footer__copyright.css");

.footer {
    display: flex;
    justify-content: space-between;
    max-width: 1280px;
    margin: 92px auto 24px;
}

@media screen and (max-width: 768px) {
    .footer {
        margin: 88px auto 24px;
    }
}
@media screen and (max-width: 700px) {
    .footer {
        flex-direction: column;
        margin: 64px auto 24px;
    }
}