@import url("./__links/footer__links.css");
@import url("./__links-item/footer__links-item.css");
@import url("./__link/footer__link.css");
@import url("./__copyright/footer__copyright.css");

.footer {
    display: flex;
    justify-content: space-between;
    padding: 0 48px;
    max-width: 1280px;
    margin: 92px auto 24px;
}

@media screen and (max-width: 810px) {
    .footer {
        padding: 0 24px;
    }
}
@media screen and (max-width: 768px) {
    .footer {
        flex-direction: column;
    }
}